<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Note</title>
</head>
<body>
    <!-- title: "Getting Started", 
    body: "You're just getting started!", 
    color: "white", 
    starred: true,  -->

    <h2>New Note</h2>
    <form method="POST" action="/notes/new">
        <input type="text" name="title" placeholder="Title" required/>
        <input type="text" name="body" placeholder="Notes" required/>
        <input type="color" name="color" value="#ffffff" placeholder="Text color" required/>
        <input type="checkbox" name="starred" value="true"/>
        <input type="hidden" name="updatedAt" value="<%= currentDate %>">
        <input type="submit"/>
    </form>

    <button><a href="/">Back</a></button>

</body>
</html>